body {
    background: linear-gradient(135deg, #fdcc04, #ffc93c); /* Sfond me gradient */
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background: transparent; /* Transparent për të lënë sfondin të duket */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
  }
  
  .logo {
    color: #000; /* Ngjyra e zezë për profesionalizëm */
    font-size: 7.5rem; /* Madhësi e konsiderueshme për theksim */
    font-weight: bolder;
    font-style: italic; /* Tekst i trashë për qëndrueshmëri */
    text-transform: uppercase; /* Shkronja të mëdha për autoritet */
    text-align: center;
    margin: 50px auto; /* Vendosje qendrore me distancë nga lart */
     
  }
  

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
  }
  
  .login-container {
    background: rgba(0, 0, 0, 0.8); /* Gjysmë-transparent për një ndjesi moderne */
    color: white;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    width: 450px;
    text-align: center;
    backdrop-filter: blur(10px); /* Shton efekt elegance */
  }
  
  .login-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .login-header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #fdcc04;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  form select,
  form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #fdcc04;
    border-radius: 10px; /* Konsoliduar në një vlerë */
    background: #000;
    color: #fdcc04;
    font-size: 1rem;
    box-sizing: border-box;
    appearance: none;
  }
  
  form select:hover {
    cursor: pointer;
  }
  
  form select:focus,
  form input:focus {
    outline: 2px solid #fdcc04;
    background: rgb(0, 0, 0); /* Ndryshim gjatë fokusit */
    color: #fdcc04; /* Tekst më i bardhë për kontrast */
  }
  
  .button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background: linear-gradient(90deg, #fdcc04, #ffc93c);
    color: #000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background: linear-gradient(90deg, #c40202, #ff6363);
    color: white;
  }
  
  .extra-links a {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    color: #fdcc04;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
    color: #ffc93c;
  }
  